
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #5796dd 51.77%,
    #2c419e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.editor {
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  font-size: 1.1rem;
  align-items: center;
  margin: 10px;
  width: 80vw;
}

.editor-body {
  background-color: #aca6a6;
  border-radius: 10px;
  overflow: hidden;
  color: #000000;
  font-size: 1.1rem;
  align-items: center;
  padding: 10px;
  margin: 10px;
  height: 80vh;
}

.toolbar {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #0a3ece;
}
